__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git
.gitignore
.dockerignore
docker-compose.yml
docker-compose.override.yml
.env
.env.local
.DS_Store
*.md
.vscode
.idea
*.log
.pytest_cache
.coverage
htmlcov
.eggs
*.egg-info
dist
build
.flake8
.mypy_cache
