version: '3.8'

services:
  weather-api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - FLASK_ENV=development
    volumes:
      - .:/app
    ports:
      - "5000:5000"
